<h1 class>CAFE INDEX</h1>

    <table>

      <tbody>
         <% @caves.each do |cafe| %>
              <tr>
                <th>ID</th>
                <td><%= cafe.id %></td>
              </tr>

              <tr>
                <th>Name</th>
                <td><%= cafe.name %></td>
              </tr>

              <tr>
                <th>Email</th>
                <td><%= cafe.email %></td>
              </tr>
      </tbody>
    </table>
              <div><%= link_to "DETAIL", admin_cafe_path(cafe.id), class: 'class btn btn-outline-info' %></div>

            <% end %>


  <h3>ここに入るはず</h3>
<div><%= link_to "ADD CAFE", new_admin_cafe_path, class: 'btn btn-outline-primary' %></div>