<h1 class>MENU INDEX</h1>

 <% @menus.each do |menu| %>
      <tr>
        <div class="menu-item">
          <section class="menu-text">
            <td class><%= menu.id %></td>
            <td class><%= menu.title %></td>
            <td class><%= menu.caption %></td>
            <td class>￥<%= menu.price %></td>
            <td class>
              <button class><%= link_to "DETAIL", admin_menu_path(menu.id) %></button>
            </td>
          </section>
        </div>
      </tr>
    <% end %>

  <h3>ここに入るはず</h3>
<button class><%= link_to "NEW", new_admein_menu_path %></button>